@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    background-color: #ecf0f1;
}

.content {
    background-color: #fff;
    border-radius: 15px;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content::before {
    content: "";
    position: absolute;
    background-color: #0d4354;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;


    left: 0;
}

.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.title-primary {
    color: #fff;
}

.title-second {
    color: #0d4354;
}

.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.description-primary {
    color: #fff;
}

.description-second {
    color: #7f8c8d;
}

.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    align-self: center;
    text-align: center;
    border: none;
    margin-top: 1rem;
}

.btn-primary {
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .5s;
}

.btn-primary:hover {
    background-color: #fff;
    color: #58af9b;
}

.btn-second {
    background-color: #0d4354;
    border: 1px solid #0d4354;
    transition: background-color .5s;
    text-align: center;
}

.btn-second:hover {
    background-color: #fff;
    border: 1px solid #0d4354;
    color: #0d4354;
    text-align: center;
}

.first-content {
    display: flex;
}

.first-content .second-column {
    z-index: 11;
}

.first-column {
    text-align: center;
    width: 40%;
    z-index: 10;
}

.first-column2 {
    text-align: center;
    width: 40%;
    z-index: 10;
}

.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
    -webkit-text-fill-color: #000 !important;
}

.country-code {
    height: 40px;
    border: none;
    background-color: #ecf0f1;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
}

.country-code-span {
    display: inline-block;
    margin-right: 10px;
}

.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}

.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}

/* second content*/

.second-content {
    position: absolute;
    display: flex;
}

.second-content .first-column {
    order: 2;
    z-index: -1;
}

.second-content .first-column2 {
    order: 2;
    z-index: -1;
}

.second-content .second-column {
    order: 1;
    z-index: -1;
}

.password {
    color: #34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}

.password::first-letter {
    text-transform: capitalize;
}



.sign-in-js .first-content .first-column {
    z-index: -1;
}

.sign-in-js .first-content .first-column2 {
    z-index: -1;
}

.sign-in-js .second-content .second-column {
    z-index: 11;
}

.sign-in-js .second-content .first-column {
    z-index: 13;
}

.sign-in-js .second-content .first-column2 {
    z-index: 13;
}

.sign-in-js .content::before {
    left: 60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 0.3s;

    z-index: 12;
}

.sign-up-js .content::before {
    animation: slideout 0.3s;

    z-index: 12;
}

.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column {
    z-index: -1;
}

.sign-up-js .second-content .first-column2,
.sign-up-js .second-content .second-column {
    z-index: -1;
}

.sign-up-js .first-content .second-column {
    z-index: 11;
}

.sign-up-js .first-content .first-column {
    z-index: 13;
}

.sign-up-js .first-content .first-column2 {
    z-index: 13;
}

/* Deslocamento atrás do "content::before"*/
.sign-in-js .first-content .second-column {

    z-index: -1;
    position: relative;
    animation: deslocamentoEsq 0.3s;
}

.sign-up-js .second-content .second-column {
    position: relative;
    z-index: -1;
    animation: deslocamentoDir 0.3s;
}

/*Animação do css*/

@keyframes deslocamentoEsq {

    from {
        left: 0;
        opacity: 1;
        z-index: 12;
    }

    25% {
        left: -80px;
        opacity: .5;
    }

    50% {
        left: -100px;
        opacity: .2;

    }

    to {
        left: -110px;
        opacity: 0;
        z-index: -1;
    }
}


@keyframes deslocamentoDir {

    from {
        left: 0;
        z-index: 12;
    }

    25% {
        left: 80px;
    }

    50% {
        left: 100px;
    }

    to {
        left: 110px;
        z-index: -1;
    }
}


/*Animação */

@keyframes slidein {

    from {
        left: 0;
        width: 40%;
    }

    25% {
        left: 5%;
        width: 50%;
    }

    50% {
        left: 25%;
        width: 60%;
    }

    75% {
        left: 45%;
        width: 50%;
    }

    to {
        left: 60%;
        width: 40%;
    }
}

@keyframes slideout {

    from {
        left: 60%;
        width: 40%;
    }

    25% {
        left: 45%;
        width: 50%;
    }

    50% {
        left: 25%;
        width: 60%;
    }

    75% {
        left: 5%;
        width: 50%;
    }

    to {
        left: 0;
        width: 40%;
    }
}

/*Mobile*/
@media screen and (max-width: 1040px) {
    .content {
        width: 100%;
        height: 100%;
    }

    .content::before {
        width: 100%;
        height: 28%;
        top: 0;
        border-radius: 0;
    }

    .first-content,
    .second-content {
        flex-direction: column;
        justify-content: space-around;
    }

    .first-column2 h2 {
        margin: 325px 0px 0px 0px;
    }

    .first-column,
    .second-column {
        width: 100%;
    }

    .first-column2,
    .second-column {
        width: 100%;
    }

    .sign-in-js .content::before {
        top: 73%;
        left: 0;
        border-radius: 0;

    }

    .form {
        width: 90%;
    }

    /* Css no mobile*/

    @keyframes deslocamentoEsq {

        from {
            top: 0;
            opacity: 1;
            z-index: 12;
        }

        25% {
            top: -80px;
            opacity: .5;

        }

        50% {
            top: -100px;
            opacity: .2;
        }

        to {
            top: -110px;
            opacity: 0;
            z-index: -1;
        }
    }


    @keyframes deslocamentoDir {

        from {
            top: 0;
            z-index: 12;
        }

        25% {
            top: 80px;
        }

        50% {
            top: 100px;
        }

        to {
            top: 110px;
            z-index: -1;
        }
    }



    @keyframes slidein {

        from {
            top: 0;
            height: 40%;
        }

        25% {
            top: 5%;
            height: 50%;
        }

        50% {
            top: 25%;
            height: 60%;
        }

        75% {
            top: 45%;
            height: 50%;
        }

        to {
            top: 60%;
            height: 40%;
        }
    }

    @keyframes slideout {

        from {
            top: 60%;
            height: 40%;
        }

        25% {
            top: 45%;
            height: 50%;
        }

        50% {
            top: 25%;
            height: 60%;
        }

        75% {
            top: 5%;
            height: 50%;
        }

        to {
            top: 0;
            height: 40%;
        }
    }

}

@media screen and (max-width: 740px) {
    .form {
        width: 50%;
    }
}

@media screen and (max-width: 425px) {
    .form {
        width: 100%;
    }
}