@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
/* FONTE PARA O MENU ( font-family: "Nunito", sans-serif; ) */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


:root {
    --azul: #0d4354;
    --azulC: #0188df;
    --branco: #fff;
    --preto: #707070;
}

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    background-color: #ecf0f1;
}

.content {
    background-color: #fff;
    border-radius: 15px;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: -1px;
}

.content::before {
    content: "";
    position: absolute;
    background-color: #0d4354;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;


    left: 0;
}

.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.title-primary {
    color: #fff;
}

.title-second {
    color: #0d4354;
}

.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.description-primary {
    color: #fff;
}

.description-second {
    color: #7f8c8d;
}

.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    align-self: center;
    text-align: center;
    border: none;
    margin-top: 1rem;
}

.btn-primary {
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .5s;
}

.btn-primary:hover {
    background-color: #fff;
    color: #58af9b;
}

.btn-second {
    background-color: #0d4354;
    border: 1px solid #0d4354;
    transition: background-color .5s;
    text-align: center;
}

.btn-second:hover {
    background-color: #fff;
    border: 1px solid #0d4354;
    color: #0d4354;
    text-align: center;
}

.first-content {
    display: flex;
}

.first-content .second-column {
    z-index: 11;
}

.first-column {
    text-align: center;
    width: 40%;
    z-index: 10;
}

.first-column2 {
    text-align: center;
    width: 40%;
    z-index: 10;
}

.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
    -webkit-text-fill-color: #000 !important;
}

.country-code-span {
    display: inline-block;
    margin-right: 10px;
    position: absolute;
    left: 10px;
  }
  
  .country-code {
    height: 40px;
    border: none;
    background-color: #ecf0f1;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    width: 100px;
  }
  
  .label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
  }
  
  .label-input div {
    display: flex;
    align-items: center;
  }
  
  .label-input i {
    margin-right: 10px;
  }

.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}



/* Começo da header  */

header {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    width: 100%;
    background: var(--branco);
    position: fixed;
    bottom: auto;
    top: auto;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1000;
}

/* Logo  */


header .logo img {
    width: 80px;
    margin: 2px 0px 0px 25px;
}

header .logo span {
    color: var(--azulC);
}

/* navbar */
header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .navbar ul li {
    margin: 0 1rem;
}

header .navbar ul li a {
    font-size: 1.3rem;
    color: var(--azul);
    text-decoration: none;
}

header .navbar ul li a:hover {
    color: var(--azulC);
}

header .fa-bars {
    font-size: 2rem;
    color: var(--azul);
    cursor: pointer;
    display: none;
}

header .fa-times {
    transform: rotate(180deg);
}


.header-active {
    top: 0;
    width: 100%;
    box-shadow: .1rem .3rem rgba(0, 0, 0, .3);
}



/* Fim da header  */




.footer {
    background: var(--azulC);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -2px;
    padding: 1rem 0;
}

.footer .box {
    width: 30rem;
    margin: 2rem;
    text-align: center;
}

.footer .box:nth-child(1) {
    text-align: left;
}

/* logo no footer  */

.footer .box .logo {
    padding: 2rem 0;
    font-size: 3rem;
    color: var(--branco);
    transition: .5s ease;
}

.footer .box .logo:hover {
    transition: .5s ease;
    color: var(--azul);
}

.footer .box .logo span {
    color: var(--azul);
}

.footer .box p {
    font-size: 1.5rem;
    color: var(--branco);
}

.footer .box a {
    color: var(--branco);
    font-size: 2rem;
    display: block;
    padding: .2rem 0;
}

.footer .box a:hover {
    text-decoration: underline;
}


.footer .copyright {
    width: 85%;
    padding-top: 1rem;
    font-size: 2rem;
    color: var(--branco);
    text-align: center;
    border-top: .2rem solid var(--branco);
}

.footer .credit span {
    color: var(--azul);
    text-decoration: underline;
    letter-spacing: .5rem;
}



/* Fim do footer  */



/* second content*/

.second-content {
    position: absolute;
    display: flex;
}

.second-content .first-column {
    order: 2;
    z-index: -1;
}

.second-content .first-column2 {
    order: 2;
    z-index: -1;
}

.second-content .second-column {
    order: 1;
    z-index: -1;
}

.password {
    color: #34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}

.password::first-letter {
    text-transform: capitalize;
}



.sign-in-js .first-content .first-column {
    z-index: -1;
}

.sign-in-js .first-content .first-column2 {
    z-index: -1;
}

.sign-in-js .second-content .second-column {
    z-index: 11;
}

.sign-in-js .second-content .first-column {
    z-index: 13;
}

.sign-in-js .second-content .first-column2 {
    z-index: 13;
}

.sign-in-js .content::before {
    left: 60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 0.3s;

    z-index: 12;
}


.form-container {
    max-width: 400px;
    background-color: #fff;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: #212121;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .logo-container {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-container .form-group input {
    width: 250px;
    padding: 12px 16px;
    border-radius: 6px;
    font-family: inherit;
    border: 1px solid #ccc;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #1778f2;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    color: #fff;
    background-color: #212121;
    border: none;
    width: 250px;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin: 12px 0;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  }

  .form-submit-btn:disabled {
    background-color: #888; /* cor de fundo quando desativado */
    cursor: not-allowed; /* muda o cursor para indicar que não pode ser clicado */
    opacity: 0.5; /* torna o botão semitransparente */
}
  
  .form-container .form-submit-btn:hover {
    background-color: #313131;
  }
  
  .form-container .link {
    color: #1778f2;
    text-decoration: none;
  }
  
  .form-container .signup-link {
    align-self: center;
    font-weight: 500;
  }
  
  .form-container .signup-link .link {
    font-weight: 400;
  }
  
  .form-container .link:hover {
    text-decoration: underline;
  }

.sign-up-js .content::before {
    animation: slideout 0.3s;

    z-index: 12;
}

.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column {
    z-index: -1;
}

.sign-up-js .second-content .first-column2,
.sign-up-js .second-content .second-column {
    z-index: -1;
}

.sign-up-js .first-content .second-column {
    z-index: 11;
}

.sign-up-js .first-content .first-column {
    z-index: 13;
}

.sign-up-js .first-content .first-column2 {
    z-index: 13;
}

/* Deslocamento atrás do "content::before"*/
.sign-in-js .first-content .second-column {

    z-index: -1;
    position: relative;
    animation: deslocamentoEsq 0.3s;
}

.sign-up-js .second-content .second-column {
    position: relative;
    z-index: -1;
    animation: deslocamentoDir 0.3s;
}

/*Animação do css*/

@keyframes deslocamentoEsq {

    from {
        left: 0;
        opacity: 1;
        z-index: 12;
    }

    25% {
        left: -80px;
        opacity: .5;
    }

    50% {
        left: -100px;
        opacity: .2;

    }

    to {
        left: -110px;
        opacity: 0;
        z-index: -1;
    }
}


@keyframes deslocamentoDir {

    from {
        left: 0;
        z-index: 12;
    }

    25% {
        left: 80px;
    }

    50% {
        left: 100px;
    }

    to {
        left: 110px;
        z-index: -1;
    }
}


/*Animação */

@keyframes slidein {

    from {
        left: 0;
        width: 40%;
    }

    25% {
        left: 5%;
        width: 50%;
    }

    50% {
        left: 25%;
        width: 60%;
    }

    75% {
        left: 45%;
        width: 50%;
    }

    to {
        left: 60%;
        width: 40%;
    }
}

@keyframes slideout {

    from {
        left: 60%;
        width: 40%;
    }

    25% {
        left: 45%;
        width: 50%;
    }

    50% {
        left: 25%;
        width: 60%;
    }

    75% {
        left: 5%;
        width: 50%;
    }

    to {
        left: 0;
        width: 40%;
    }
}

.card {
    width: 330px;
    height: 80px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px 15px;
    background-color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    overflow: hidden;
    display: flex;
    align-items: center;
    z-index: 9999;
    left: 140vh;
    top: 85vh; 
    justify-content: space-around;
    gap: 15px;
  }

  .wave {
    position: absolute;
    transform: rotate(90deg);
    left: -31px;
    top: 32px;
    width: 80px;
    fill: #04e4003a;
  }
  .icon-container {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #04e40048;
    border-radius: 50%;
    margin-left: 8px;
  }
  .icon {
    width: 17px;
    height: 17px;
    color: #269b24;
  }
  .message-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
  }
  .message-text,
  .sub-text {
    margin: 0;
    cursor: default;
  }
  .message-text {
    color: #269b24;
    font-size: 17px;
    font-weight: 700;
  }
  .sub-text {
    font-size: 14px;
    color: #555;
  }
  .cross-icon {
    width: 18px;
    height: 18px;
    color: #555;
    cursor: pointer;
  }

  .error {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 320px;
    padding: 12px;
    display: block;
    margin: 20px auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #FCE8DB;
    border-radius: 8px;
    border: 1px solid #EF665B;
    box-shadow: 0px 0px 5px -3px #111;
    text-align: center;
    position: relative;
    top: 35vh;
  }
  
  .error__icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
  }
  
  .error__icon path {
    fill: #EF665B;
  }
  
  .error__title {
    font-weight: 500;
    font-size: 14px;
    color: #71192F;
  }
  
/*Mobile*/
@media screen and (max-width: 1040px) {
    .content {
        width: 100%;
        height: 100%;
    }

    .content::before {
        width: 100%;
        height: 28%;
        top: 0;
        border-radius: 0;
    }

    .first-content,
    .second-content {
        flex-direction: column;
        justify-content: space-around;
    }

    .first-column2 h2 {
        margin: 325px 0px 0px 0px;
    }

    .first-column,
    .second-column {
        width: 100%;
    }

    .first-column2,
    .second-column {
        width: 100%;
    }

    .sign-in-js .content::before {
        top: 73%;
        left: 0;
        border-radius: 0;

    }

    .form {
        width: 90%;
    }

    /* Css no mobile*/

    @keyframes deslocamentoEsq {

        from {
            top: 0;
            opacity: 1;
            z-index: 12;
        }

        25% {
            top: -80px;
            opacity: .5;

        }

        50% {
            top: -100px;
            opacity: .2;
        }

        to {
            top: -110px;
            opacity: 0;
            z-index: -1;
        }
    }


    @keyframes deslocamentoDir {

        from {
            top: 0;
            z-index: 12;
        }

        25% {
            top: 80px;
        }

        50% {
            top: 100px;
        }

        to {
            top: 110px;
            z-index: -1;
        }
    }



    @keyframes slidein {

        from {
            top: 0;
            height: 40%;
        }

        25% {
            top: 5%;
            height: 50%;
        }

        50% {
            top: 25%;
            height: 60%;
        }

        75% {
            top: 45%;
            height: 50%;
        }

        to {
            top: 60%;
            height: 40%;
        }
    }

    @keyframes slideout {

        from {
            top: 60%;
            height: 40%;
        }

        25% {
            top: 45%;
            height: 50%;
        }

        50% {
            top: 25%;
            height: 60%;
        }

        75% {
            top: 5%;
            height: 50%;
        }

        to {
            top: 0;
            height: 40%;
        }
    }
    .card {
        left: 70vh;
    }
}

@media screen and (max-width: 768px) {
    .form {
        width: 50%;
    }

    html {
        font-size: 55%;
    }

    header .fa-bars {
        display: block;
    }

    header .logo img {
        width: 55px;
        margin: -15px 0px 0px 25px;
    }

    header .navbar {
        position: fixed;
        top: -100rem;
        left: 0;
        width: 100%;
        background: var(--branco);
        opacity: 0;
    }

    header .navbar ul {
        flex-flow: column;
        padding: 2rem 0;
    }

    header .navbar ul li {
        margin: 1rem 0;
        width: 100%;
        text-align: center;
    }

    header .navbar ul li a {
        font-size: 3rem;
        display: block;
    }

    header .nav-toggle {
        top: 5.5rem;
        opacity: 1;
    }

    .footer {
        background: var(--azulC);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 1rem 0;
    }
    .card {
        left: 60vh;
    }
}

@media screen and (max-width: 425px) {
    .form {
        width: 100%;
    }
    .card {
        left: 5vh;
    }

}


  
  